In [1]:
import numpy as np
import pandas as pd

**Считаем данные из файла**

Номера строк - товары, номера столбцов - дни

In [2]:
data = pd.read_table("products.txt", sep='\s+', engine='python', header=None)
type(data)

pandas.core.frame.DataFrame

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,20.0,13.0,15.0,26.0,18.54,20.35,20.49,20.80,20.37,20.58,...,26.05,26.17,26.32,26.35,26.57,26.56,26.64,26.72,26.85,26.94
1,21.0,10.0,13.0,16.0,13.73,12.37,11.99,11.63,10.87,10.31,...,1.68,1.79,1.80,10.70,1.64,1.78,1.67,1.78,1.85,1.71
2,39.0,13.0,29.0,27.0,27.25,24.90,26.77,26.65,26.71,26.38,...,32.38,32.41,32.51,32.58,32.56,32.80,32.83,32.91,33.08,33.15

**Удаляем "выбросы"**

Считаем средние продажи по каждому товару

In [4]:
data_mean = data.mean(1)
data_mean

0    23.2486
1     4.1562
2    30.1224
dtype: float64

Заменяем все продажи, которые больше чем в 3 раза средних на средние

In [5]:
data[data. > 30] = 999
data

SyntaxError: invalid syntax (<ipython-input-5-bea58f75b68b>, line 1)